
html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage{
background-image: url("bg.jpg");
background-repeat: no-repeat;
background_size: cover;
}
.main{
  width: 500px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo{
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
  margin-top: 0;
}
.tagline{
  font-size: 20px;
  color: white;
}
.button{
  background-color: green;
  color: white;
border: none;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
}
.button:hover{
  background-color: white;
  color:green;
}
/*
chat page
*/
.members_area{
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height:100%;
  background: grey;
  color: #fff;
}
.user-info{
  background: blue;
  padding: 10px;
}
.logout{
  float: right;
}
.member{
padding: 10px;
border-bottom: solid 1px darkblue;
cursor: pointer;
}
.member:hover{
  background: white;
  color: darkblue;

}
.member.active{
  background-color: red;
  font-weight: bold;
  color: darkblue;
}
.message-area{
  background-color: lightblue;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%
}
.chat-info{
  background-color: white;
color: black;
padding: 10px;
}
.messages{

  height: 100%
  padding: 10px;
}
.message{
  background: #eeeeee;
  padding: 10px;
  overflow: auto;
    border-radius: 4px;
    margin-bottom:10px;
}
.message.by-user{
  background: blue;
margin-bottom:10px;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%auto;
  background: white;
  padding: 20px;
}
.chat-message{
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 4px;
  display: block;
  width: 100%;
}
